pkgbase = ervisio-bin
	pkgdesc = Web console for managing a Linux server from the browser (prebuilt; formerly LinuxAdmin)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/ervisio/ervisio
	install = ervisio.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	depends = pam
	depends = sudo
	depends = systemd
	provides = ervisio=0.4.0
	conflicts = ervisio
	conflicts = linuxadmin
	conflicts = linuxadmin-bin
	replaces = linuxadmin-bin
	options = !strip
	options = !debug
	backup = etc/pam.d/ervisio
	source = ervisio.pam
	source = package-service.sh
	sha256sums = 698517efd8015f508f626e67830e46700dc675fd1208414f29f73d92671df6dd
	sha256sums = 1f0fc6193955474569e821518ac8334e06a93fe16173851cb69e4327edda0bb3
	source_x86_64 = https://github.com/ervisio/ervisio/releases/download/v0.4.0/ervisio-0.4.0-linux-amd64.tar.gz
	sha256sums_x86_64 = a5a2f2cedc86e9345f086a718dc3369e0982ac0370a14d1e6b1381cb855c728d
	source_aarch64 = https://github.com/ervisio/ervisio/releases/download/v0.4.0/ervisio-0.4.0-linux-arm64.tar.gz
	sha256sums_aarch64 = 8e761477815578432f41a063faaa8e91d66c697247023e6af9055db7b8e552a8

pkgname = ervisio-bin
