pkgbase = ervisio-bin
	pkgdesc = Web console for managing a Linux server from the browser (prebuilt; formerly LinuxAdmin)
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/ervisio/ervisio
	install = ervisio.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	depends = pam
	depends = sudo
	depends = systemd
	provides = ervisio=0.5.0
	conflicts = ervisio
	conflicts = linuxadmin
	conflicts = linuxadmin-bin
	replaces = linuxadmin-bin
	options = !strip
	options = !debug
	backup = etc/pam.d/ervisio
	source = ervisio.pam
	source = package-service.sh
	sha256sums = 698517efd8015f508f626e67830e46700dc675fd1208414f29f73d92671df6dd
	sha256sums = 1f0fc6193955474569e821518ac8334e06a93fe16173851cb69e4327edda0bb3
	source_x86_64 = https://github.com/ervisio/ervisio/releases/download/v0.5.0/ervisio-0.5.0-linux-amd64.tar.gz
	sha256sums_x86_64 = 9f8db60182d9828e179cee345cb80ababda8d131c05e6027c220b69641a01778
	source_aarch64 = https://github.com/ervisio/ervisio/releases/download/v0.5.0/ervisio-0.5.0-linux-arm64.tar.gz
	sha256sums_aarch64 = 8642cda564a5fee983e4733f9eb84682454e79b8e063c5c972a7b3dd4bb64ede

pkgname = ervisio-bin
