pkgbase = linuxadmin-bin
	pkgdesc = Web console for managing a Linux server from the browser (prebuilt)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Fonlogen/LinuxAdmin
	install = linuxadmin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	depends = pam
	depends = sudo
	depends = systemd
	provides = linuxadmin=0.1.0
	conflicts = linuxadmin
	options = !strip
	options = !debug
	backup = etc/pam.d/linuxadmin
	source = linuxadmin.pam
	source = package-service.sh
	sha256sums = e23b5824cb2069f655bc3644bc54236e149f21a9e7e12c9f4c2d72d40e66a2e3
	sha256sums = 31c139d1a22e23a9f64cb0ba92d669f2d31a1e67ca52c923a504fe5ea1f8b9fb
	source_x86_64 = https://github.com/Fonlogen/LinuxAdmin/releases/download/v0.1.0/linuxadmin-0.1.0-linux-amd64.tar.gz
	sha256sums_x86_64 = 8b0cd9a002cf2bfb2b3db5738c0eeca662e813fef35f8044cd69aa6596450cb7
	source_aarch64 = https://github.com/Fonlogen/LinuxAdmin/releases/download/v0.1.0/linuxadmin-0.1.0-linux-arm64.tar.gz
	sha256sums_aarch64 = f9f59009e9e39656f99f9636fff4e14c9e6726a69deb24889547f10679e8c1a7

pkgname = linuxadmin-bin
