pkgbase = ervisio
	pkgdesc = Web console for managing a Linux server from the browser (formerly LinuxAdmin)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/ervisio/ervisio
	install = ervisio.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	makedepends = npm
	depends = glibc
	depends = pam
	depends = sudo
	depends = systemd
	conflicts = ervisio-bin
	conflicts = linuxadmin
	conflicts = linuxadmin-bin
	replaces = linuxadmin
	backup = etc/pam.d/ervisio
	source = ervisio-0.4.0.tar.gz::https://github.com/ervisio/ervisio/archive/refs/tags/v0.4.0.tar.gz
	source = ervisio.pam
	source = package-service.sh
	sha256sums = b2e36074b3c0df19ab5c73cc68d5df0f6b02761c861fa0732a37734139c838a9
	sha256sums = 698517efd8015f508f626e67830e46700dc675fd1208414f29f73d92671df6dd
	sha256sums = 1f0fc6193955474569e821518ac8334e06a93fe16173851cb69e4327edda0bb3

pkgname = ervisio
