pkgbase = linuxadmin
	pkgdesc = Web console for managing a Linux server from the browser
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/Fonlogen/LinuxAdmin
	install = linuxadmin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	makedepends = npm
	depends = glibc
	depends = pam
	depends = sudo
	depends = systemd
	conflicts = linuxadmin-bin
	backup = etc/pam.d/linuxadmin
	source = linuxadmin-0.2.0.tar.gz::https://github.com/Fonlogen/LinuxAdmin/archive/refs/tags/v0.2.0.tar.gz
	source = linuxadmin.pam
	source = package-service.sh
	sha256sums = 8ab328e32e46dce3d9fa5505f9ff003b0c2c7647fff4497482978a4aca8daa7f
	sha256sums = e23b5824cb2069f655bc3644bc54236e149f21a9e7e12c9f4c2d72d40e66a2e3
	sha256sums = 31c139d1a22e23a9f64cb0ba92d669f2d31a1e67ca52c923a504fe5ea1f8b9fb

pkgname = linuxadmin
